.ql-editor {
  font-family: "Pretendard" !important;
  padding: 0 !important;
}

.ql-picker-label,
.ql-picker-item {
  padding: 0 !important;
  border: 0 !important;
}

.ql-picker-options {
  border-radius: 8px;
  padding: 4px 8px 0 !important;
  left: -8px;
  top: 110% !important;
}

.ql-picker-item {
  margin-bottom: 4px;
}
.ql-picker-item::before {
  line-height: normal;
}

button.ql-active {
  background-color: var(--color-gray200) !important;
  border-radius: 4px;
}

.ql-stroke {
  stroke: var(--color-gray400) !important;
}
.ql-picker-label:hover .ql-stroke {
  stroke: #06c !important;
}

.quill > .ql-container {
  border: none !important;
}
